html {
  font-family: Georgia, "Times New Roman", GillSans, Calibri, Trebuchet, sans-serif;
}

#top {
  margin-top: 0;
}

.container {
  padding: 5px 20px;
}

.footer-copy-right {
  margin-top: 40px;
  padding: 30px 0px;
}
